@model WebApplication1.Models.EmployeeView
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Details";
    
}

    <table>
        <tr>
            <td><tt><b>Адрес:</b>  <i>@Model.MaritalStatus<br></i> </tt></td>
            <td><tt><b>Семейное положение:</b>  <i>@Model.Adress</i></tt></td>            
        </tr>
    </table>
@Html.ActionLink("Назад", "Index");